#yellow {
    background-color: yellow;
    width: 150px;
    height: 150px;
}

#red {
    background-color: red;
    width: 150px;
    height: 150px;
    transition-property: width; 
    transition-duration: 2s; 
}

#red:hover{
    width:300px;
}

#olive {
    background-color: olive;
    width: 150px;
    height: 150px;
    transition-property: height; 
    transition-duration: 2s; 
}

#olive:hover{
    height: 300px;
}

#blue {
    background-color: blue;
    width: 150px;
    height: 150px;
    transition-property: height, width;
    transition-duration: 2s;
}

#blue:hover{
    height:300px;
    width:300px;
}

div {
    margin:10px;
}