form {
    color: white;
    background-color: #213b50;
    width: 50%;
    padding: 10px;
}

input[type="submit"] {
    background-color: greenyellow;
}

input[type="text"],
textarea {
    background-color: #2b4a64;
}

input[type="text"],
textarea {
    color: #ffffff;
}